<div class="container" *ngIf="DataSource.length === 0">
    <strong>No record to Display</strong>
</div>

<table class="table table-bordered table-striped" *ngIf="DataSource.length>0">
    <thead>
        <tr>
            <th *ngFor="let col of columnHeaders">{{col}}</th>
        </tr>  
    </thead>
    <tbody>
        <!--The [setColor] is a directive that is applied on Table Row-->
         <tr *ngFor="let data of DataSource" (click)="onRowClick(data)" [setColor]="applyColor">
          <td *ngFor="let col of columnHeaders">{{data[col]}}</td>
         </tr> 
    </tbody>
</table>