<h1>The First Component</h1>

<div>
  <strong>
    The Angular Property  Binding
    Name = {{name}}
  </strong>
</div>
<br/>
Name is (For the Property Binding) = <input type="text" [value]="name"/>
<br/>
<div>
  For the Event Binding
  <input type="button" value="Click Me" (click)="display()">
</div>
<h2>Using Two-Way Binding using [(ngModel)]</h2>
<input type="text" [(ngModel)]="name"/>
<br/> 
<input type="text" [(ngModel)]="name"/>
<br/> 
<input type="text" [(ngModel)]="name"/>
<br/>
<div>
  <strong>
      Selected Role ==> {{selectedRole}}
  </strong>
</div>
<select [(ngModel)]="selectedRole">
  <option *ngFor="let r of roles" value={{r}}>{{r}}</option>
</select>
<hr/>
<button (click)="updateToggle()">Toggle</button>
<br/>
<div [hidden]="!toggle">
  <strong>
      The Value is True with Hidden as True or False
  </strong>
</div>
<br/>
<div *ngIf="!toggle">
  <strong>
      The Value is True with Hidden as True or False based on *ngIf 
  </strong>
</div>
 
